.idea
target/
*.iml
/lib/
.DS_Store
.resourceCache
/kubernetes
/logs
*/logs
*/json
/json
*/test-access.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/app/json/
